/* accounting-table */
div.scroll-x-me {
  overflow-x: auto;
}
div.scroll-x-me::-webkit-scrollbar {
  height: 7px;
}
div.scroll-x-me::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div.scroll-x-me::-webkit-scrollbar-thumb {
  background: #888;
}
div.scroll-x-me::-webkit-scrollbar-thumb:hover {
  background: #555;
}
