/* tooltip right */
.tooltip-right-container {
  position: relative;
  cursor: pointer;
}
.tooltip-right-container .tooltip-right-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  white-space: nowrap; /* Prevents text from wrapping */
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  left: 105px; /* Position to the right of the text */
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}
.tooltip-right-container .tooltip-right-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-100%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip-right-container:hover .tooltip-right-text {
  visibility: visible;
  opacity: 1;
}
