div#asset-table::-webkit-scrollbar {
  height: 7px;
}
div#asset-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#asset-table::-webkit-scrollbar-thumb {
  background: #888;
}
div#asset-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button.asset-page-active {
  background-color: #1c1cf0 !important;
  color: white !important;
  border: 4px solid rgb(165, 173, 234) !important;
}
input#asset-csv-start-date:focus {
  box-shadow: 0 0 0 0.2rem #9cdd9e;
}
input#asset-csv-end-date:focus {
  box-shadow: 0 0 0 0.2rem #9cdd9e;
}
div#asset-section::-webkit-scrollbar {
  height: 7px;
}
div#asset-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#asset-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#asset-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div#asset-section .card-body::-webkit-scrollbar {
  height: 7px;
}
div#asset-section .card-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#asset-section .card-body::-webkit-scrollbar-thumb {
  background: #888;
}
div#asset-section .card-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
