button.equity-page-active {
  background-color: #612bde !important;
  color: white !important;
  border: 4px solid rgb(165, 173, 234) !important;
}
div#equity-table::-webkit-scrollbar {
  height: 7px;
}
div#equity-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#equity-table::-webkit-scrollbar-thumb {
  background: #888;
}
div#equity-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div#equity-card::-webkit-scrollbar {
  height: 7px;
}
div#equity-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#equity-card::-webkit-scrollbar-thumb {
  background: #888;
}
div#equity-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input#equity-start-date {
  outline: none;
}
input#equity-start-date:focus {
  outline: #4caf50 solid 2px;
  box-shadow: none;
}
input#equity-end-date {
  outline: none;
}
input#equity-end-date:focus {
  box-shadow: none;
  outline: #4caf50 solid 2px;
}
input#equity-start-date-1 {
  outline: none;
}
input#equity-start-date-1:focus {
  outline: #4c75af solid 2px;
  box-shadow: none;
}
input#equity-end-date-1 {
  outline: none;
}
input#equity-end-date-1:focus {
  box-shadow: none;
  outline: #4c75af solid 2px;
}
