.container-custome-me input.focus-me:focus {
  box-shadow: 0 0 0 0.2rem #71a3c9;
}
.container-custome-me .span-bg-me {
  background-color: #0178bd;
  color: white;
}
.container-custome-me .span-bg-me:hover {
  cursor: pointer;
  background-color: #0c6ea7;
}
button.product-ref-persediaan-page-active {
  background-color: #0178bd !important;
  color: white !important;
  border: 4px solid #2391d0 !important;
}
.custome-qty-me {
  background-color: #0178bd;
  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 18px;
  font-size: 25px;
}
button.unsufficient {
  cursor: not-allowed;
  opacity: 0.5; /* Optional: to visually indicate the button is disabled */
}
h5#order-list-name:hover {
  text-wrap: wrap;
}
h6#order-list-price:hover {
  text-wrap: wrap;
}
h5#order-list-total:hover {
  text-wrap: wrap;
}
button#btnpersediaanModal {
  background-color: #3b82f6;
}
button#btnpersediaanModal:hover {
  background-color: #1a54b2;
}
input#persediaan-create-qty {
  outline: none;
}
button#persediaan-create-submit {
  background-color: #3b82f6;
}
button#persediaan-create-submit:hover {
  background-color: #3574d9;
}
.persediaan-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.persediaan-btn-page.persediaan-active-page {
  background-color: #3b82f6;
  color: white;
  font-size: 18px;
  border: 2px solid #3b82f6;
  outline: none;
  padding: 8px 12px;
}
input#persediaan-refproduct-create-qty:focus {
  outline: none;
}
input#persediaan-refproduct-update-qty:focus {
  outline: none;
}
input#persediaan-refproduct-create-qty::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
#persediaan-update-submit {
  background-color: #3b82f6;
}
#persediaan-update-submit:hover {
  background-color: #2a77f4;
}
tbody#persediaan-table::-webkit-scrollbar {
  width: 7px;
}
tbody#persediaan-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
tbody#persediaan-table::-webkit-scrollbar-thumb {
  background: #888;
}
tbody#persediaan-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div#persediaan-section {
  overflow: auto;
}
div#persediaan-section::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#persediaan-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#persediaan-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#persediaan-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div#persediaan-scroll-byme {
  overflow: auto;
}
div#persediaan-scroll-byme::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#persediaan-scroll-byme::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#persediaan-scroll-byme::-webkit-scrollbar-thumb {
  background: #888;
}
div#persediaan-scroll-byme::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input#persediaan-start-date-csv {
  outline: none;
}
input#persediaan-start-date-csv:focus {
  box-shadow: none;
  outline: #4caf50 solid 2px;
}
input#persediaan-end-date-csv {
  outline: none;
}
input#persediaan-end-date-csv:focus {
  box-shadow: none;
  outline: #4caf50 solid 2px;
}
input#persediaan-start-date-pdf {
  outline: none;
}
input#persediaan-start-date-pdf:focus {
  border: none;
  box-shadow: none;
  outline: rgb(249, 97, 46) solid 1px;
}
input#persediaan-end-date-pdf {
  outline: none;
  box-shadow: none;
}
input#persediaan-end-date-pdf:focus {
  border: none;
  box-shadow: none;
  outline: rgb(249, 97, 46) solid 1px;
}
