.card-footer.custome-color-me {
  background-color: #0178bd;
  color: white;
  font-size: 18px;
}
.card-footer:hover {
  cursor: pointer;
}
button#order-done {
  background-color: #0178bd;
  color: white;
}
button#order-done:hover {
  background-color: #065a8b;
}
input#order-payment {
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  box-shadow: none;
  transition: border-bottom-color 0.3s ease-in-out;
}
input#order-payment:focus {
  box-shadow: none;
  border-bottom-color: blue;
}
button.sales-active-page {
  background-color: #273eec !important;
  color: white !important;
  border: 4px solid #99a4f9 !important;
}
div#modal-sales-convert-csv input:focus {
  border: 2px solid #11964d;
  box-shadow: 0 0 0 0.1rem #19c767;
}

button.entry-sale:hover {
  background-color: #3143c9 !important;
}
