i#supplier-create-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
button#supplier-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#supplier-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#supplier-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#supplier-export-print:hover {
  background-color: rgb(212, 54, 36);
}
i#supplier-create-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
label#supplier-update-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
.supplier-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.supplier-active-page {
  background-color: #3b82f6;
  color: white;
  border: 2px solid #3b82f6;
  outline: none;
}
div#supplier-section {
  overflow: auto;
}
div#supplier-section::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#supplier-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#supplier-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#supplier-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div#supplier-table-container {
  overflow: auto;
}
div#supplier-table-container::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#supplier-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#supplier-table-container::-webkit-scrollbar-thumb {
  background: #888;
}
div#supplier-table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
