@import "./../components/top.css";
@import "./../components/body.css";
@import "./../components/left-side.css";

@import "./../components/tooltip-bottom.css";
@import "./../components/tooltip-right.css";
@import "./../components/text.css";

@import "./../components/animation.css";
@import "./../components/loading.css";

@import "./../components/drag.css";

@import "./../models/persediaan.css";
@import "./../models/product.css";
@import "./../models/category.css";
@import "./../models/supplier.css";
@import "./../models/assetname.css";
@import "./../models/expense.css";

.border-l-custome-me {
  border-left: 15px solid #3c50e0;
}

td:hover {
  text-wrap: wrap;
}
span:hover {
  text-wrap: wrap;
}
