@import "./../components/text.css";

body::-webkit-scrollbar {
  display: none;
}
.section-first {
  -webkit-app-region: drag;
}
div.icon-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}
img.custome-me {
  width: 30px;
  height: 30px;
}
.sections {
  display: flex;
  height: 100vh;
}
.section-first {
  width: 60vw;
  background-image: url("./../../images/accounting.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-second {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 22px;
}
.section-second h1 {
  font-size: 48px;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 15px;
  color: #3669cc;
}
.section-second h5 {
  font-weight: bolder;
  width: 100%;
  margin-bottom: 22px;
}
.section-second label.custome-me {
  font-size: 20px;
  color: #1f41bb;
  font-weight: 900;
}
.section-second h5.forgot-password {
  font-size: 15px;
  color: #1f41bb;
  cursor: pointer;
  font-weight: 500;
  margin-top: 12px;
  text-align: right;
  font-style: italic;
}
.section-second label.show-password {
  font-size: 20px;
  color: #1f41bb;
  font-weight: 900;
  cursor: pointer;
}
.section-second label.hide-password {
  font-size: 20px;
  color: #1f41bb;
  font-weight: 900;
  cursor: pointer;
}
.section-second input.custome-me {
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
}
.section-second input#email {
  color: #2845ad;
  font-weight: 700;
}
.section-second input#password {
  color: #2845ad;
  font-weight: 700;
}
.section-second input.custome-me::placeholder {
  color: #566bb7;
}
.section-second input.custome-me:focus {
  border: 3px solid #1f41bb;
  box-shadow: 0 0 0 0.3rem #f1f4ff;
}
.section-second button#login {
  background-color: #1f41bb;
}
.section-second button#login:hover {
  background-color: #1e399e;
}
