@import "./../components/top.css";
@import "./../components/body.css";
@import "./../components/left-side.css";
@import "./../components/text.css";
@import "./../components/tooltip-bottom.css";
@import "./../components/tooltip-right.css";
@import "./../components/drag.css";

@import "./../models/user.css";

.border-l-custome-me {
  border-left: 15px solid #4338ca;
}

td:hover {
  text-wrap: wrap; /* Handle long words */
}
