@font-face {
  font-family: "poppins";
  src: url("./../third-party/Poppins-Regular.ttf");
}
* {
  font-family: "poppins";
}
body {
  width: 100vw;
  background-color: #eeeeee;
}
body::-webkit-scrollbar {
  display: none;
}
.top-navigation {
  position: fixed;
  left: 100px;
  right: 0px;
  top: 0px;
  background-color: #262848;
  color: white;
  padding: 15px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.top-navigation i.custome-me {
  font-size: 25px;
  margin-right: 12px;
}
.top-navigation i.custome-me:hover {
  cursor: pointer;
}
.side-navigation {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1b1c30;
  width: 100px;
}
.side-navigation .logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}
.side-navigation div.custome-me {
  cursor: pointer;
}
.side-navigation i.custome-me-active {
  background-color: #262848;
  padding: 22px;
  border-radius: 12px;
  color: #009ef7;
}
.container-custome-me {
  margin-left: 100px;
  margin-top: 80px;
  padding: 30px 50px;
}
.border-l-custome-me {
  border-left: 15px solid #3c50e0;
}
span.hover-by-me:hover {
  background-color: #273ce1 !important;
  box-shadow: 0px 0px 0px 0.4px #4c61ff;
  cursor: pointer;
}
button.hover-by-me:hover {
  background-color: #273ce1 !important;
  box-shadow: 0px 0px 0px 0.4px #4c61ff;
}
input.focus-by-me:focus {
  box-shadow: 0px 0px 0px 0.2rem #959fe8;
}
select.focus-by-me:focus {
  box-shadow: 0px 0px 0px 0.2rem #959fe8;
}
button#product-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#product-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#product-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#product-export-print:hover {
  background-color: rgb(212, 54, 36);
}
button#edit-product-submit {
  background-color: #273eec;
}
button#edit-product-submit:hover {
  background-color: #112ae9;
}
button#category-export-pdf {
  color: white;
  background-color: rgb(223, 41, 21);
}
button#category-export-pdf:hover {
  background-color: rgb(194, 29, 10);
}
i#cancel-image {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
i#supplier-create-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
i#edit-product-cancel-image {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
#productsModalDetail::-webkit-scrollbar {
  display: none;
}
button#btnInventoryModal {
  background-color: #3b82f6;
}
button#btnInventoryModal:hover {
  background-color: #2076ff;
}
button#inventory-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#inventory-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#inventory-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#inventory-export-print:hover {
  background-color: rgb(212, 54, 36);
}
button#btn-create-satuan {
  background-color: #009ef7;
}
button#btn-create-satuan:hover {
  background-color: #0396ea;
}
button#supplier-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#supplier-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#supplier-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#supplier-export-print:hover {
  background-color: rgb(212, 54, 36);
}
button#inventory-create-submit {
  background-color: #3b82f6;
}
button#inventory-create-submit:hover {
  background-color: #3574d9;
}
button#submit_product {
  background-color: #3c50e0;
}
button#submit_product:hover {
  background-color: #3445c7;
}
i#supplier-create-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
i#supplier-update-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
.supplier-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.supplier-active-page {
  background-color: #3b82f6;
  color: white;
  border: 2px solid #3b82f6;
  outline: none;
}
.product-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.product-active-page {
  background-color: #273eec;
  color: white;
  border: 2px solid #273eec;
  outline: none;
}
.product-refcategory-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -4px;
  width: 100%;
  z-index: 2;
}
.product-refcategory-val {
  padding: 0px 10px;
  text-transform: capitalize;
}
.product-refcategory-val:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.product-refcategory-not-found {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.product-refcategory-update-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -4px;
  width: 100%;
  z-index: 2;
}
.product-refcategory-val-update {
  padding: 0px 10px;
  text-transform: capitalize;
}
.product-refcategory-val-update:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.product-refcategory-not-found-update {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.product-refsupplier-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -4px;
  width: 100%;
  z-index: 2;
}
.product-refsupplier-val {
  padding: 0px 10px;
  text-transform: capitalize;
}
.product-refsupplier-val:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.product-refsupplier-not-found {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.product-refsupplier-update-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -4px;
  width: 100%;
  z-index: 2;
}
.product-refsupplier-val-update {
  padding: 0px 10px;
  text-transform: capitalize;
}
.product-refsupplier-val-update:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.product-refsupplier-not-found-update {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.category-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.category-active-page {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  outline: none;
}
.product-refsupplier-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -4px;
  width: 100%;
  z-index: 2;
}
.product-refsupplier-val {
  padding: 0px 10px;
  text-transform: capitalize;
}
.product-refsupplier-not-found {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.product-refsupplier-val:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.satuan-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.satuan-btn-page.satuan-active-page {
  background-color: #009ef7;
  color: white;
  font-size: 18px;
  border: 2px solid #009ef7;
  outline: none;
  padding: 8px 12px;
}
#inventory-refproduct-create-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -1px;
  width: 100%;
  z-index: 3;
}
.inventory-refproduct-create-val {
  padding: 0px 10px;
  text-transform: capitalize;
}
.inventory-refproduct-create-val:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.inventory-refproduct-not-found {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.inventory-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.inventory-btn-page.inventory-active-page {
  background-color: #3b82f6;
  color: white;
  font-size: 18px;
  border: 2px solid #3b82f6;
  outline: none;
  padding: 8px 12px;
}
/* mckkk for tbody scrolll*/
/* tbody {
      display: block;
      height: 250px;
      overflow: auto;
  }
  thead, tbody tr {
      display: table; 
      width: 100%;
      table-layout: fixed;
  } */
