@font-face {
  font-family: "poppins";
  src: url("./../third-party/Poppins-Regular.ttf");
}
* {
  font-family: "poppins";
}
body {
  width: 100vw;
  background-color: #eeeeee;
}
body::-webkit-scrollbar {
  display: none;
}
.top-navigation {
  position: fixed;
  left: 100px;
  right: 0px;
  top: 0px;
  background-color: #262848;
  color: white;
  padding: 15px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.top-navigation i.custome-me {
  font-size: 25px;
  margin-right: 12px;
}
.top-navigation i.custome-me:hover {
  cursor: pointer;
}
.side-navigation {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1b1c30;
  width: 100px;
  z-index: 999;
}
.side-navigation .logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}
.side-navigation div.custome-me {
  cursor: pointer;
}
.side-navigation i.custome-me-active {
  background-color: #262848;
  padding: 22px;
  border-radius: 12px;
  color: #009ef7;
}
.container-custome-me {
  margin-left: 100px;
  margin-top: 80px;
  padding: 30px 50px;
}
.border-l-custome-me {
  border-left: 15px solid #3c50e0;
}
span.hover-by-me:hover {
  background-color: #273ce1 !important;
  box-shadow: 0px 0px 0px 0.4px #4c61ff;
  cursor: pointer;
}

input.focus-by-me:focus {
  box-shadow: 0px 0px 0px 0.2rem #959fe8;
}
select.focus-by-me:focus {
  box-shadow: 0px 0px 0px 0.2rem #959fe8;
}
button#product-create {
  background-color: #3c50e0;
  color: white;
}
button#product-create:hover {
  background-color: #1d2da4 !important;
  box-shadow: 0px 0px 0px 0.4px #4c61ff;
}
button#product-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#product-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#product-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#product-export-print:hover {
  background-color: rgb(212, 54, 36);
}
button#edit-product-submit {
  background-color: #273eec;
}
button#edit-product-submit:hover {
  background-color: #112ae9;
}
button#category-export-pdf {
  color: white;
  background-color: rgb(223, 41, 21);
}
button#category-export-pdf:hover {
  background-color: rgb(194, 29, 10);
}
i#cancel-image {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
i#supplier-create-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
i#edit-product-cancel-image {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
#productsModalDetail::-webkit-scrollbar {
  display: none;
}
button#btnpersediaanModal {
  background-color: #3b82f6;
}
button#btnpersediaanModal:hover {
  background-color: #1a54b2;
}
button#persediaan-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#persediaan-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#persediaan-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#persediaan-export-print:hover {
  background-color: rgb(212, 54, 36);
}
button#btn-create-satuan {
  background-color: #009ef7;
}
button#btn-create-satuan:hover {
  background-color: #0396ea;
}
button#supplier-export-pdf {
  color: white;
  background-color: rgb(249, 97, 46);
}
button#supplier-export-pdf:hover {
  color: white;
  background-color: rgb(236, 71, 17);
}
button#supplier-export-print {
  color: white;
  background-color: rgb(249, 66, 46);
}
button#supplier-export-print:hover {
  background-color: rgb(212, 54, 36);
}
input#persediaan-create-qty {
  outline: none;
}
button#persediaan-create-submit {
  background-color: #3b82f6;
}
button#persediaan-create-submit:hover {
  background-color: #3574d9;
}
button#submit_product {
  background-color: #3c50e0;
}
button#submit_product:hover {
  background-color: #3445c7;
}
i#supplier-create-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
label#supplier-update-img-cancel {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 32px;
  cursor: pointer;
}
.supplier-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.supplier-active-page {
  background-color: #3b82f6;
  color: white;
  border: 2px solid #3b82f6;
  outline: none;
}
.product-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.product-active-page {
  background-color: #273eec;
  color: white;
  border: 2px solid #273eec;
  outline: none;
}
.category-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.category-active-page {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  outline: none;
}
.product-refsupplier-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -4px;
  width: 100%;
  z-index: 2;
}
.product-refsupplier-val {
  padding: 0px 10px;
  text-transform: capitalize;
}
.product-refsupplier-not-found {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.product-refsupplier-val:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.satuan-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.satuan-btn-page.satuan-active-page {
  background-color: #009ef7;
  color: white;
  font-size: 18px;
  border: 2px solid #009ef7;
  outline: none;
  padding: 8px 12px;
}
#persediaan-refproduct-create-list {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  margin-top: -1px;
  width: 100%;
  z-index: 3;
  max-height: 122px;
  overflow-y: auto;
}
#persediaan-refproduct-create-list::-webkit-scrollbar {
  width: 7px;
}
#persediaan-refproduct-create-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#persediaan-refproduct-create-list::-webkit-scrollbar-thumb {
  background: #adadad;
}
.persediaan-refproduct-create-val {
  padding: 0px 10px;
  text-transform: capitalize;
}
.persediaan-refproduct-create-val:hover {
  cursor: pointer;
}
.persediaan-refproduct-create-val.active-list {
  background-color: #007bff;
  color: white;
}
.persediaan-refproduct-not-found {
  padding: 0px 10px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}
.persediaan-btn-page {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border: 2px solid #e1e1e1;
  outline: none;
  padding: 8px 12px;
}
.persediaan-btn-page.persediaan-active-page {
  background-color: #3b82f6;
  color: white;
  font-size: 18px;
  border: 2px solid #3b82f6;
  outline: none;
  padding: 8px 12px;
}
input#persediaan-refproduct-create-qty:focus {
  outline: none;
}
input#persediaan-refproduct-update-qty:focus {
  outline: none;
}
input#persediaan-refproduct-create-qty::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
#persediaan-update-submit {
  background-color: #3b82f6;
}
#persediaan-update-submit:hover {
  background-color: #2a77f4;
}
/* mckkk for tbody scrolll*/
/* #persediaan-table-container */
tbody#persediaan-table::-webkit-scrollbar {
  width: 7px;
}
tbody#persediaan-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
tbody#persediaan-table::-webkit-scrollbar-thumb {
  background: #888;
}
tbody#persediaan-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* persediaan-section */
div#persediaan-section {
  overflow: auto;
}
div#persediaan-section::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#persediaan-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#persediaan-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#persediaan-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* persediaan-tables */
div#persediaan-scroll-byme {
  overflow: auto;
}
div#persediaan-scroll-byme::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#persediaan-scroll-byme::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#persediaan-scroll-byme::-webkit-scrollbar-thumb {
  background: #888;
}
div#persediaan-scroll-byme::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* product-section */
div#product-section {
  overflow: auto;
}
div#product-section::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#product-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#product-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#product-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* product */
div#product-scroll-byme {
  overflow: auto;
}
div#product-scroll-byme::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#product-scroll-byme::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#product-scroll-byme::-webkit-scrollbar-thumb {
  background: #888;
}
div#product-scroll-byme::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* category-section */
div#category-section {
  overflow: auto;
}
div#category-section::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#category-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#category-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#category-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* category-table */
div#category-table {
  overflow: auto;
}
div#category-table::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#category-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#category-table::-webkit-scrollbar-thumb {
  background: #888;
}
div#category-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* supplier-section */
div#supplier-section {
  overflow: auto;
}
div#supplier-section::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#supplier-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#supplier-section::-webkit-scrollbar-thumb {
  background: #888;
}
div#supplier-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* supplier-section */
div#supplier-table-container {
  overflow: auto;
}
div#supplier-table-container::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  height: 8px;
}
div#supplier-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#supplier-table-container::-webkit-scrollbar-thumb {
  background: #888;
}
div#supplier-table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* tooltip bottom */
.tooltip-bottom-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-bottom-container .tooltip-bottom-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 9999 !important;
  top: 125%; /* Position below the text */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Prevents text from wrapping */
}
.tooltip-bottom-container .tooltip-bottom-text::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Arrow at the top of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-bottom-container:hover .tooltip-bottom-text {
  visibility: visible;
  opacity: 1;
}
/* tooltip right */
.tooltip-right-container {
  position: relative;
  cursor: pointer;
}
.tooltip-right-container .tooltip-right-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  white-space: nowrap; /* Prevents text from wrapping */
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  left: 105px; /* Position to the right of the text */
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}
.tooltip-right-container .tooltip-right-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-100%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  z-index: 99999;
}
.tooltip-right-container:hover .tooltip-right-text {
  visibility: visible;
  opacity: 1;
}
td:hover {
  text-wrap: wrap;
}
span:hover {
  text-wrap: wrap;
}
.animate-load {
  background: #b3b2b2;
  position: relative;
  overflow: hidden;
}

.animate-load::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%; /* Mulai dari luar elemen */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(236, 236, 236, 0.6),
    transparent
  );
  animation: skeleton-loading 1.5s infinite;
}
@keyframes skeleton-loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
