@font-face {
    font-family: "poppins";
    src: url("./../third-party/Poppins-Regular.ttf");
  }
  * {
    font-family: "poppins";
  }
  body {
    width: 100vw;
    background-color: #eeeeee;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .modal .modal-body div::-webkit-scrollbar {
    display: none;
  }
  .top-navigation {
    position: fixed;
    left: 100px;
    right: 0px;
    top: 0px;
    background-color: #262848;
    color: white;
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .top-navigation i.custome-me {
    font-size: 25px;
    margin-right: 12px;
  }
  .top-navigation i.custome-me:hover {
    cursor: pointer;
  }
  .side-navigation {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #1b1c30;
    width: 100px;
  }
  .side-navigation .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }
  .side-navigation div.custome-me {
    cursor: pointer;
  }
  .side-navigation i.custome-me-active {
    background-color: #262848;
    padding: 22px;
    border-radius: 12px;
    color: #009ef7;
  }
  .container-custome-me {
    margin-left: 100px;
    margin-top: 80px;
    padding: 30px 50px;
  }
  .container-custome-me i {
    font-size: 25px;
  }
  .border-l-custome-me {
    border-left: 15px solid #0178bd;
  }
  .container-custome-me input.focus-me:focus {
    /* border: 3px solid #0178bd; */
    box-shadow: 0 0 0 0.2rem #71a3c9;
  }
  .container-custome-me .span-bg-me {
    background-color: #0178bd;
    color: white;
  }
  .container-custome-me .span-bg-me:hover {
    cursor: pointer;
    background-color: #0c6ea7;
  }
  .container-by-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
  }
  .card-header.custome-color-me {
    background-color: #0178bd;
    color: white;
    font-size: 25px;
  }
  .card-footer.custome-color-me {
    background-color: #0178bd;
    color: white;
    font-size: 18px;
  }
  .card-footer:hover {
    cursor: pointer;
  }
  .custome-qty-me {
    background-color: #0178bd;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .custome-cart-img {
    height: 80px;
  }
  .modal span.search-menu {
    background-color: #0178bd;
  }
  .modal input:focus {
    /* border: 3px solid #0178bd; */
    box-shadow: 0 0 0 0.2rem #99a4f9;
  }
  .modal span.search-menu:hover {
    cursor: pointer;
    background-color: #0c6ea7;
  }
  .modal button:nth-child(2) {
    background-color: #0178bd;
    color: white;
  }
  .modal button:nth-child(2):hover {
    background-color: #0c6ea7;
  }
  .cart-order:hover {
    cursor: pointer;
  }
  .list-number:hover {
    cursor: pointer;
  }
  .showNumbers {
    display: block !important;
  }
  