@font-face {
  font-family: "poppins";
  src: url("./../third-party/Poppins-Regular.ttf");
}
* {
  font-family: "poppins";
}
body {
  width: 100vw;
  background-color: #eeeeee;
}
body::-webkit-scrollbar {
  display: none;
}
.top-navigation {
  position: fixed;
  left: 100px;
  right: 0px;
  top: 0px;
  background-color: #262848;
  color: white;
  padding: 15px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.top-navigation i.custome-me {
  font-size: 25px;
  margin-right: 12px;
}
.top-navigation i.custome-me:hover {
  cursor: pointer;
}
.side-navigation {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1b1c30;
  width: 100px;
  z-index: 999;
}
.side-navigation .logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}
.side-navigation div.custome-me {
  cursor: pointer;
}
.side-navigation i.custome-me-active {
  background-color: #262848;
  padding: 22px;
  border-radius: 12px;
  color: #009ef7;
}
.container-custome-me {
  margin-left: 100px;
  margin-top: 80px;
  padding: 30px 50px;
}
.border-l-custome-me {
  border-left: 15px solid #5c5cff;
}
button.btn.cash-in:hover {
  background-color: #0c8a7b !important;
}
button.btn.cash-out:hover {
  background-color: #b6183a !important;
}
/* tooltip bottom */
.tooltip-bottom-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-bottom-container .tooltip-bottom-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 9999 !important;
  top: 125%; /* Position below the text */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Prevents text from wrapping */
}
.tooltip-bottom-container .tooltip-bottom-text::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Arrow at the top of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-bottom-container:hover .tooltip-bottom-text {
  visibility: visible;
  opacity: 1;
}
/* tooltip right */
.tooltip-right-container {
  position: relative;
  cursor: pointer;
}
.tooltip-right-container .tooltip-right-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  white-space: nowrap; /* Prevents text from wrapping */
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  left: 105px; /* Position to the right of the text */
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}
.tooltip-right-container .tooltip-right-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-100%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  z-index: 99999;
}
.tooltip-right-container:hover .tooltip-right-text {
  visibility: visible;
  opacity: 1;
}
button.cash-page-active {
  background-color: #273eec !important;
  color: white !important;
  border: 4px solid #99a4f9 !important;
}
button.general-entries-page-active {
  background-color: #273eec !important;
  color: white !important;
  border: 4px solid #99a4f9 !important;
}
#dragWin {
  -webkit-app-region: drag; /* Allow dragging the window */
}
td:hover {
  text-wrap: wrap;
}
/* table */
div#cash-table::-webkit-scrollbar {
  height: 7px;
}
div#cash-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#cash-table::-webkit-scrollbar-thumb {
  background: #888;
}
div#cash-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* card */
div#cash-card::-webkit-scrollbar {
  height: 7px;
}
div#cash-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#cash-card::-webkit-scrollbar-thumb {
  background: #888;
}
div#cash-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button.entry-sale:hover {
  background-color: #3143c9 !important;
}
/* accounting-card */
div#accounting-card::-webkit-scrollbar {
  height: 7px;
}
div#accounting-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#accounting-card::-webkit-scrollbar-thumb {
  background: #888;
}
div#accounting-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* accounting-table */
div#accounting-table::-webkit-scrollbar {
  height: 7px;
}
div#accounting-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#accounting-table::-webkit-scrollbar-thumb {
  background: #888;
}
div#accounting-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* accounting-card */
div#accounting-1-card::-webkit-scrollbar {
  height: 7px;
}
div#accounting-1-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#accounting-1-card::-webkit-scrollbar-thumb {
  background: #888;
}
div#accounting-1-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* accounting-table */
div#accounting-1-table::-webkit-scrollbar {
  height: 7px;
}
div#accounting-1-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div#accounting-1-table::-webkit-scrollbar-thumb {
  background: #888;
}
div#accounting-1-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
