@font-face {
  font-family: "poppins";
  src: url("./../third-party/Poppins-Regular.ttf");
}
* {
  font-family: "poppins";
}
body {
  width: 100vw;
  background-color: #eeeeee;
}
body::-webkit-scrollbar {
  display: none;
}
.top-navigation {
  position: fixed;
  left: 100px;
  right: 0px;
  top: 0px;
  background-color: #262848;
  color: white;
  padding: 15px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.top-navigation i.custome-me {
  font-size: 25px;
  margin-right: 12px;
}
.top-navigation i.custome-me:hover {
  cursor: pointer;
}
.side-navigation {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1b1c30;
  width: 100px;
}
.side-navigation .logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}
.side-navigation div.custome-me {
  cursor: pointer;
}
.side-navigation i.custome-me-active {
  background-color: #262848;
  padding: 22px;
  border-radius: 12px;
  color: #009ef7;
}
.container-custome-me {
  margin-left: 100px;
  margin-top: 80px;
  padding: 30px 50px;
}
.border-l-custome-me {
  border-left: 15px solid #3c50e0;
}
span.hover-by-me:hover {
  background-color: #273ce1 !important;
  box-shadow: 0px 0px 0px 0.4px #4c61ff;
  cursor: pointer;
}
button.hover-by-me:hover {
  background-color: #273ce1 !important;
  box-shadow: 0px 0px 0px 0.4px #4c61ff;
}
input.focus-by-me:focus {
  box-shadow: 0px 0px 0px 0.2rem #959fe8;
}
select.focus-by-me:focus {
  box-shadow: 0px 0px 0px 0.2rem #959fe8;
}
button#product-export-pdf{
  color: white;
  background-color:rgb(249, 97, 46) ;
}
button#product-export-pdf:hover{
  color: white;
  background-color:rgb(236, 71, 17) ;
}
button#product-export-print{
  color: white;
  background-color:rgb(249, 66, 46) ;
}
button#product-export-print:hover{
  background-color: rgb(212, 54, 36);
}